@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Need to add a new clause to your document? 
    Launching a new product or expanding to a new language?
    Use our central dashboard to review.
    </p>
    <p>Manage and modify your documents whenever you want,
    while relying on our legal team to push changes and notify you if the law changes.
</p>

<p><input type="checkbox" /> Accept  privacy policy.</p>
